body {
  background: #eee; }

a {
  text-decoration: none;
  color: #000; }

header {
  background: #ddd; }
  header img {
    display: inline-block;
    width: 150px; }

.title-wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 213px;
  margin-top: 1.5em;
  margin-left: 22em;
  margin-bottom: 2em; }

.title {
  font-size: 2em;
  font-weight: bold; }

.sub-title {
  font-size: 1.3em; }

.login-box {
  background: #aaa;
  width: 50%;
  margin: 10em auto;
  padding: 2em;
  text-align: center;
  font-size: 1em; }

.login-button-holder {
  width: 60%;
  margin: 3em auto;
  margin-bottom: 5em; }

.btn {
  display: inline-block;
  width: 100px;
  background-image: linear-gradient(to bottom, #ddd, #aaa); }

.login-admin {
  float: left; }

.login-customer {
  float: right; }

.items-search-bar {
  position: absolute;
  top: 15px;
  right: 70px;
  font-size: 1.25em; }
  .items-search-bar input {
    font-size: 1em; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.8);
  display: none; }

.modal-details-container {
  width: 35%;
  margin: auto;
  margin-top: 19em;
  padding: 3em 3em 1em 3em;
  background: rgba(200, 200, 200, 0.9); }

.showing {
  display: block; }

.modal-close-button {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin: 2em 0 1em 0;
  background-image: linear-gradient(to bottom, #fff, #ccc); }

.details-name,
.details-price {
  display: inline-block;
  font-size: 1.25em; }

.details-price {
  margin-left: 1em; }

.details-description {
  margin-top: 1em;
  font-size: 1em; }

.details-reviews {
  margin-top: 1em; }

.shop-btn-link {
  position: absolute;
  top: 60px;
  right: 70px; }
  .shop-btn-link div {
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #999;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #aaa, #bbb); }

.items-list-view {
  vertical-align: top;
  width: 225px;
  display: inline-block;
  background: #ccc; }

.items-list-item {
  border: 1px solid #bbb;
  padding: .5em 0; }

.items-list-item-name,
.items-list-item-price,
.items-list-item-image {
  display: inline-block;
  font-size: 1.2em; }

.items-list-item-image {
  float: right;
  width: 35px;
  margin-top: -8px; }

.items-card-view {
  vertical-align: top;
  width: 80%;
  display: inline-block; }

.items-card-item {
  vertical-align: top;
  width: 35%;
  background: #ccc;
  height: 200px;
  display: inline-block;
  margin: 4em 0 0 9%;
  border-radius: 5px;
  padding: 2em 2em 0 2em; }

.items-card-item-name {
  font-size: 1.5em;
  display: inline-block; }

.items-card-item-price {
  float: right;
  font-size: 1.5em; }

.items-card-item-image {
  display: block;
  margin: 1em auto 1em auto;
  width: 50px; }

.items-card-item-description {
  text-align: center;
  text-transform: capitalize; }

.card-button-holder {
  margin: 2em auto 0 auto;
  width: 90%; }
  .card-button-holder div {
    text-align: center;
    display: inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid #bbb;
    background-image: linear-gradient(to bottom, #fff, #ccc); }

.card-add-to-cart-button {
  float: right; }

/*# sourceMappingURL=styles.css.map */
