<div class="cart-wrapper">
  <header class="header">
    <a href='#/'><img src="assets/img/pokemart-logo.gif"></a>
    <div class="title-wrapper">
    <h1 class="title">Pokémart</h1>
    <h3 class="sub-title">Save money. Train better.</h3>
  </div>

    <a class='shop-btn-link' href='#/items'><div class="to-shop-btn">TO THE ITEMS</div></a>
  </header>

  <div class="cart">
    <div class="cart-content-holder">
      <ul class="cart-content">
        <div class="items-list-view" style="overflow: scroll; height:710px;">
          <!-- <img src="{{items}}" alt='sprite'></img> -->
          <!-- {{items}} -->
          <ul class="items-list-holder">
            <li class="items-list-item">YOUR SHOPPING CART:</li>
            <li class="items-list-item" ng-repeat="item in items track by $index">
              <div class="items-list-item-name">{{items[$index].name}}:</div>
              <div class="items-list-item-price">{{items[$index].price}}</div>
              <img class="items-list-item-image" src="{{items[$index].picture_url}}">
              <div class='cart-delete-btn' ng-click='cartDelete(item)'>DELETE</div>
            </li>
          </ul>
        </div>
      </ul>
    </div>

    <div class='cart-information-wrapper'>
      <div class='cart-text'>
        SHOPPING CART
      </div>
      <div class='cart-total-items'>Number of Items to Purchase: {{totalItems()}}
      </div>
       <div class='cart-cost'>
         Total cost: {{cartTotal() | currency:"₹"}}
       </div>
       <a class='shop-btn-link' href='#/cart'><div class="to-shop-btn" ng-click='receiptValues()'>CHECKOUT</div></a>
    </div>
    <div class="modal" ng-class="dynamicClass">
      <div class="modal-details-container">
        <div>YOUR CART:</div>
        <div class="details-name" ng-bind="totalItems"></div>
        <div class="details-price" ng-bind="totalPrice"></div>
        <a href='#/items'><div class="modal-close-button" ng-click="returnToStore()">Return To Store</div></a>
      </div>
    </div>
  </div>
  <footer class='items-footer'>
    <ul class='items-footer-cart'>
      <li class='footer-cart-text'>PURCHASED ITEMS:</li>
      <li class='footer-cart-items' ng-repeat='item in items'>
    <img class="footer-cart-sprite" src="{{item.picture_url}}">
  </li>
  </ul>
  </footer>

</div>
