<div class="edit-wrapper">
  <header class="header">
    <a href='#/'><img src="assets/img/pokemart-logo.gif"></a>
    <div class="title-wrapper">
      <h1 class="title">Pokémart</h1>
      <h3 class="sub-title">Save money. Train better.</h3>
    </div>
  </header>

  <div class="edit-box">

    <div class="edit-info-holder">
      <div class="edit-name">
        Name: <input class="edit-name-input">
      </div>
      <div class="edit-price">
        Price: <input class="edit-price-input">
      </div>
      <div class="edit-description">
        Description: <textarea class="edit-description-input"></textarea>
      </div>
      <div class="edit-image">
        <div class="edit-image">Image url: <input class="edit-image-url"></div>
      </div>
      <div class="edit-save-btn" ng-click="saveItem()">Save</div>
      <div class="edit-delete-btn" ng-click="deleteItem()">Delete</div>
    </div>

  </div>
</div>
