
<div class="items-wrapper">
  <header class="header">
    <img src="assets/img/pokemart-logo.gif">
    <div class="title-wrapper">
      <h1 class="title">Pokémart</h1>
      <h3 class="sub-title">Save money. Train better.</h3>
    </div>
  </header>

  <div class="items-list-view">
    <!-- <img src="{{items}}" alt='sprite'></img> -->
    <!-- {{items}} -->
    <ul class="items-list-holder">
      <li class="items-list-item" ng-repeat="item in items track by $index">
        <div class="items-list-item-name">{{items[$index].name}}:</div>
        <div class="items-list-item-price">{{items[$index].price}}</div>
        <img class="items-list-item-image" src="{{items[$index].picture_url}}">
      </li>
    </ul>
  </div>

  <div class="items-card-view">
    <ul class="items-card-holder">
      <li class="items-card-item" ng-repeat="item in items track by $index" id="{{$index}}">
        <div class="items-card-item-name">{{items[$index].name}}</div>
        <div class="items-card-item-price">{{items[$index].price}}</div>
        <img class="items-card-item-image" src="{{items[$index].picture_url}}">
        <div class="items-card-item-description">{{items[$index].description}}</div>
        <div class="card-button-holder">
          <a href="#/details"><div class="card-details-button">Details</div></a><!--Add details as a modal??-->
          <a href="#/cart"><div class="card-add-to-cart-button">Add To Cart</div></a>
        </div>
      </li>
    </ul>
  </div>
</div>
